{% extends "job/base.html" %}

{% block content %}
<div class="flex justify-center items-center h-screen">
    <form enctype="multipart/form-data" action="print/" method="post" class=" border-2 border-white rounded text-2xl uppercase p-10 flex flex-col gap-4 w-1/3">
        {% csrf_token %}
        {% load static %}
        <img src="{% static 'job/Logo.png' %}" class="w-24 h-24" alt="logo" srcset="">
        <label for="inp-title">Title : </label>
        <input type="text" class="outline rounded p-3 text-primary bg-primary outline-white" name="inp-title" id="inp-title" required>
      
        <label for="inp-passwd">Password : </label>
        <input class="outline rounded p-3 text-primary bg-primary outline-white" type="password" name="password" id="inp-passwd" required>
      
        {% comment %} <input type="file" > {% endcomment %}
        
        <input class="text-lg p-3 rounded border border-white border-2 bg-secondary text-white" name="inp-file" id="inp-file" required type="file">

        <button id="inp-submit" class="outline bg-button uppercase p-3 mt-10 scale-95 hover:scale-100 transition-all  rounded">PRINT</button>
    </form>
</div>
{% endblock content %}
